@import "../../style/Global.scss";

@mixin btn-pure {
  position: absolute;
  border: none;
  background: none;
  outline: none;
}

.input-form-wrapper {
  position: relative;
  text-align: center;

  .icon-bottom-gaga {
    position: absolute;
    top: -3.5rem;
    left: 2rem;
  }

  input {
    background: #ffffff;
    box-shadow: 0 0 20px 0 rgba(35, 50, 87, 0.12);
    border-radius: 24px;
    padding: 18px 20px 18px 50px;
    -webkit-appearance: none;
    border: none;
    width: 72%;
    outline: none;
    font-size: 14px;
    color: $main-color;
  }

  .btn-submit {
    @include btn-pure();
    padding: 6px;
    top: 13px;
    right: 2.2rem;
  }

  .btn-question {
    @include btn-pure();
    top: 1rem;
    left: 2rem;
    padding: 0 0.5rem;
  }
}
