@import "../../style/Global.scss";

.list-wrapper {
  .not-me {
    text-align: left;
    display: flex;
  }
  .is-me {
    display: flex;
    justify-content: flex-end;
  }

  .not-me-chat {
    margin-left: 9px;
    background: $light-color;
    border-radius: 0 28px 28px 28px;
    font-size: 14px;
    color: #233257;
  }

  .is-me-chat {
    background: $focus-color;
    border-radius: 28px 28px 0 28px;
    font-size: 14px;
    color: #ffffff;
    margin-right: 16px;
  }

  li {
    margin: 16px 0;
  }

  p {
    max-width: 240px;
    padding: 18px;
  }

  list-style: none;
  padding-left: 0;
  height: 37rem;
  overflow: scroll;
}
