@import "../../style/Global.scss";

.question-wrapper {
  padding: 0;
  margin-top: 35px;
  max-height: 80%;
  overflow: scroll;

  li {
    list-style: none;
    background: $light-color;
    border-radius: 28px;
    padding: 18px;
    color: $main-color;
    margin-bottom: 16px;
    font-size: 14px;
    text-align: center;
  }
}

.question-wrapper-for-chat {
  @extend .question-wrapper;
  margin-top: 25px;
}
