.question-wrapper {
  padding: 0;
  margin-top: 35px;

  li {
    list-style: none;
    background: #f6f8fa;
    border-radius: 28px;
    padding: 18px;
    color: #233257;
    margin-bottom: 16px;
    font-size: 14px;
    text-align: center;
  }
}
